 body {
      font-family: Arial, sans-serif;
      background-color: #013441;
      margin: 30px;
    }
    .container {
      background: #077ac6;
      border: 2px solid #ffffff;
      padding: 20px 30px;
      width: 600px;
      margin: auto;
      border-radius: 8px;

    }
    
    h2 {
      border-bottom: 2px solid #333;
      padding-bottom: 10px;
      text-align: center;
    }
    .form-group {
      margin-bottom: 15px;
      gap: 10px;
    }
    label {
      display: inline-block;
      width: 150px;
      vertical-align: top;
    }
    input[type="text"],
    select,
    textarea {
      width: 60%;
      padding: 5px;
      border: 1px solid #555;
      border-radius: 4px;
    }
    textarea {
      height: 80px;
      resize: none;
    }
    .checkbox-group {
      display: inline-block;
      margin-right: 15px;
    }
    .buttons {
      margin-top: 20px;
    }
    button {
      background-color: #e0e0e0;
      border: 1px solid #555;
      padding: 6px 15px;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
    }
    button:hover {
      background-color: #d0d0d0;
    }

    .form-group .checkbox-group {
        display: block;
        align-items: center;
        gap: 10px;

    }
